/*global theme*/
audio {
    display: none;
}

#canvas-particle {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.bg-blur {
    position: absolute;
    width: 100%;
    height: 100%;
}

.img-blur {
    position:fixed;
    width: 100%;
    height: 100%;
}

.div-kawaii {
    position: fixed;
    bottom: -10%;
    right: -5%;
}

.div-kawaii-lite {
    position: fixed;
    bottom: 0%;
    right: 0%;
}

.img-kawaii {
    width: 500px;
}

.img-kawaii-lite {
    width: 128px;
}

.divider {
    display: none;
}

.navigation.navigation-prev {
    display: none;
}

.navigation.navigation-next {
    display: none;
}

#book-search-input {
    display: none;
}

/*button*/
button#switch {
    /*animation*/
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.2s;

    background-color: #008CBA; 
    color: white;
    border: 0;

    margin: 5px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;

}

button#switch:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button#switch:disabled{
    opacity: 0.6;
    cursor: not-allowed;
}

/*day theme*/


.book-summary {
    background: #fafafa7f;
}

.book-body {
    background: #ffffff7f;
}

/*night theme*/

.book.color-theme-2 .book-summary {
    color: #bcc1d2;
    background: #2d31437f;
    border-right: none;
}

.book.color-theme-2 .book-body {
    color: #bdcadb;
    background: #1c1f2b7f;
}

.book.color-theme-2 .book-summary ul.summary li a, .book.color-theme-2 .book-summary ul.summary li span {
    color: #f4f4f5;
    background: transparent;
}

.book.color-theme-2 .book-summary ul.summary li.active > a, .book.color-theme-2 .book-summary ul.summary li a:hover {
    color: #f4f4f5;
    background: #2527377f;
}

.book.color-theme-2 .book-body .page-wrapper .page-inner section {
    background: transparent/*#1c1f2b*/;
    color: #bdcadb;
}
